@use './variables' as *;

@keyframes fadeIn {
  0% {
    opacity: 0;
    background-position: 30%;
  }

  100% {
    opacity: 1;
    background-position: 50%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    background-position: 50%;
  }

  100% {
    opacity: 0;
    background-position: 30%;
  }
}

.fadeIn {
  animation: fadeIn 150ms ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 150ms ease-in-out forwards;
}

#CommanderDescription {
  //background: rgba(165, 114, 170, 0.3);
  flex: 0.6;
  padding-top: 7vh;

  .scrollBlock {
    width: 10vw;
    height: 100vh;
    position: absolute;
    top: 0;
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior: contain;

    .scrollContainer {
      padding-top: 22vh;
      max-height: 100%;
      overflow-y: hidden;
      cursor: pointer;

      &::before {
        content: "";
        border: 1px solid #2c343f;
        position: absolute;
        width: 100%;
        top: calc(22vh + var(--portraitSize) + 1em);
        z-index: -5;
      }


      .portrait {
        width: var(--portraitSize);
        height: var(--portraitSize);
        display: inline-block;
        background-position: center center;
        position: relative;
        //overflow: hidden;
        //background-color: green;

        .image {
          display: inline-block;
          transition: left 300ms, width 150ms, height 150ms;
          width: calc(var(--portraitSize) - 2em);
          height: calc(var(--portraitSize) - 2em);
          background: var(--portraitMini);
          background-repeat: no-repeat;
          background-size: contain;
          //background-color: #0080006e;
          position: absolute;
          left: -3px;
          bottom: 0px;
        }

        &::before {
          content: "";

          transition: box-shadow 300ms, width 150ms, height 150ms;
          transition-timing-function: ease-in-out;
          width: calc(var(--portraitSize) - 3em);
          height: calc(var(--portraitSize) - 3em);
          border: 2px solid white;
          position: absolute;
          z-index: -1;
          bottom: 0;
          left: 0;
        }

        &::after {
          content: "";

          transition: width 150ms, height 150ms;
          transition-timing-function: ease-in-out;
          width: calc(var(--portraitSize) - 3em);
          height: calc(var(--portraitSize) - 3em);
          border: 0;
          border-bottom: 2px solid white;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
        }

        &.active {

          .image {
            transition: left 300ms, width 150ms, height 150ms;
            display: inline-block;
            width: var(--portraitSize);
            height: var(--portraitSize);
            left: -1px;
          }

          &::before {
            transition: box-shadow 300ms, width 150ms, height 150ms;
            transition-timing-function: ease-in-out;
            width: calc(var(--portraitSize) - 18px);
            height: calc(var(--portraitSize) - 22px);
            border: 4px solid $white;
            box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
            -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
          }

          &::after {
            transition: width 150ms, height 150ms;
            transition-timing-function: ease-in-out;
            width: calc(var(--portraitSize) - 10px);
            height: calc(var(--portraitSize) - 10px);
            border: 0;
            border-bottom: 4px solid $white;
          }

        }
      }
    }

  }

  .commanderTextBlock {
    display: flex;
    justify-content: start;
    padding-left: 11.5vw;
    flex-direction: column;
    align-items: start;
    font-weight: bold;
    text-align: left;
    padding-right: 5vw;
    font-size: 1.35vmin;

    .commanderDescriptionBlock {
      color: $white;
    }

    .inStock {
      text-transform: uppercase;

      .block {
        color: #020f1c;
        background-color: $white;
        padding: .3em 1.2em;
        font-size: 1.1em;
        font-weight: bold;
        margin-right: 1em;
      }

      .text {
        font-size: 1.3em;
        color: #94979c;
      }

    }

    h1 {
      text-transform: uppercase;
      font-size: 2.8em;
      margin-top: .6em;
      margin-bottom: .4em;
    }

    .description {
      width: 100%;
      color: #94979c;

      .text {
        //display: none;
        color: $white;
        margin: 0;
        margin-bottom: 1em;
        font-size: 1.35em;
      }

      .textBlock {
        padding-left: 1.3em;
        border-top: 3px solid #2c343f;
        margin-top: -3px;

        p {
          font-size: 1.45em;
          font-weight: normal;
          line-height: 1.3em;
          margin-top: 0.45em;
        }

        .guises {
          display: flex;
          flex-direction: row;

          h2 {
            text-transform: uppercase;
            color: $white;
            margin: 0;
          }

          p {
            margin: 0;
            line-height: 1em;
          }

          .national,
          .general {
            display: grid;
            grid-template-columns: 3.6em 1fr;
            grid-template-rows: repeat(2, 1.75em);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            flex: 1;

            p {
              font-size: 1.2em;
              line-height: 1.2em;
            }

            img {
              width: auto;
              height: 3.5em;
            }

            .div1 {
              grid-area: 1 / 1 / 3 / 2;
            }

            .div2 {
              grid-area: 1 / 2 / 2 / 3;
            }

            .div3 {
              grid-area: 2 / 2 / 3 / 3;
            }
          }
        }
      }
    }

    .type {
      background: #2c343f;
      text-transform: uppercase;
      display: inline-block;
      font-size: 1.45em;
      padding: .2em 1em;
      color: $white;
      font-size: 1.25em;
    }
  }

}

.spacer {
  height: var(--portraitSize);
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

#CommanderAvatar {
  //background: rgba(200, 206, 112, 0.3);
  background-image: var(--portraitBig);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: end;

  img {
    width: 98%;
    height: auto;
    object-fit: contain;
  }

}