@use './variables' as *;


#CommanderDescription {
  //background: rgba(165, 114, 170, 0.3);
  flex: 0.625;

  .scrollBlock {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 95%);
    display: flex;
    justify-content: center;

    .portrait {
      &::before {
        content: "";
        width: 106px;
        height: 100px;
        border: 2px solid white;
        position: absolute;
        bottom: 0;
        left: 4px;
      }

      &::after {
        content: "";
        width: 135px;
        height: 135px;
        background: url(../assets/commander/mini-portrait/HenkPropper_mini.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 2px;
        left: 0;
      }

      width: 135px;
      height: 135px;
      display: inline-block;
      position: absolute;
      background-position: center center;
      top: 425px;

      &.active {
        &::before {
          box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
          -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
          -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);
          width: 130px;
          height: 130px;
          border: 4px solid white;
        }

        &::after {
          width: 135px;
          height: 155px;
          bottom: 1px;
          left: 5px;
        }
      }
    }
  }
}

#CommanderAvatar {
  //background: rgba(200, 206, 112, 0.3);
  //background-image: url(../assets/commander/full-portrait/HenkPropper.png);
  //background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center bottom ;

  flex: 0.375;

  display: flex;
  flex-direction: column;
  justify-content: end;

  img {
    width: 98%;
    height: auto;
    object-fit: contain;
  }
}