@use './variables' as *;

@font-face {
  font-family: DIN2014;
  src: url(../font/DIN2014.ttf);
}

@font-face {
  font-family: DIN2014;
  src: url(../font/DIN2014Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: DIN2014Stencil;
  src: url(../font/PFDinStencilW01Bold.ttf);
  font-weight: bold;
}

:root {
  font-family: DIN2014, sans-serif;
  color: $white;
}

body {
  margin: 0;
  padding: 0;
}

.fps,
#app canvas {
  display: none !important;
}


#app {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg/Skin\ selector\ list.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

#bg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}

#infoBlock,
#commanderBlock {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#commanderBlock {
  flex: 0.84;
}

#infoBlock {
  z-index: 5;
  flex: 0.16;
}